.app__container{
    height: 100vh;
    width: 100vw;
    overflow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.app__tile-active{
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid red;
    color: blue;
    font-size: 40px;
}
.app__tile-noactive{
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid red;
    color: green;
    font-size: 40px;
}
.board{
    display: grid;
    height: 20rem;
    width: 20rem;
    grid-template-columns: repeat(3,auto);
}